<form [formGroup]="formGroup" class="m-auto max-w-2xl w-full p-6 border-[3px] rounded-md shadow-2xl">
  <h2 class="text-3xl text-white mb-6 pb-2 border-b-2">Form</h2>
  <app-input [formControlName]="'password'"></app-input>
  <ul class="flex flex-col gap-3">
    <app-validation-section [ngClass]="getClass(1)"></app-validation-section>
    <app-validation-section [ngClass]="getClass(2)"></app-validation-section>
    <app-validation-section [ngClass]="getClass(3)"></app-validation-section>
  </ul>
</form>
